In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('D:\PD/movie_bd_v5.xls')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1368,tt0350261,30000000,18618284,An Unfinished Life,Robert Redford|Jennifer Lopez|Morgan Freeman|B...,Lasse HallstrÃ¶m,Every secret takes on a life of its own.,"Stoic and heartbroken, Einar Gilkyson quietly ...",108,Drama,Miramax Films|Revolution Studios|Persistent En...,9/9/2005,6.9,2005
1652,tt0390022,30000000,61255921,Friday Night Lights,Billy Bob Thornton|Lucas Black|Garrett Hedlund...,Peter Berg,Hope comes alive on Friday nights.,"Gary Gaines, the coach of a local football tea...",118,Drama,Universal Studios|Imagine Entertainment|Friday...,10/8/2004,7.2,2004
1017,tt1790885,40000000,132820716,Zero Dark Thirty,Jessica Chastain|Jason Clarke|Mark Strong|Joel...,Kathryn Bigelow,The Greatest Manhunt in History,A chronicle of the decade-long hunt for al-Qae...,157,Thriller|Drama|History,Columbia Pictures|Annapurna Pictures|First Lig...,12/19/2012,6.5,2012
1218,tt1288558,17000000,97542952,Evil Dead,Jane Levy|Jessica Lucas|Shiloh Fernandez|Lou T...,Fede Alvarez,The most terrifying film you will ever experie...,"Evil Dead, the fourth installment of the Evil ...",91,Horror,TriStar Pictures|Ghost House Pictures|FilmDist...,4/5/2013,6.3,2013
51,tt3045616,60000000,30418560,Mortdecai,Johnny Depp|Gwyneth Paltrow|Ewan McGregor|Paul...,David Koepp,Sophistication Has a Name.,"Art dealer, Charles Mortdecai, searches for a ...",106,Comedy|Adventure,Lionsgate|Mad Chance|OddLot Entertainment|Huay...,1/21/2015,5.3,2015

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
#6
data['profit'] = data['revenue'] - data['budget']

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# +

In [6]:
data.groupby(['original_title'])['budget'].max().sort_values(ascending=False).head(1)

original_title
Pirates of the Caribbean: On Stranger Tides    380000000
Name: budget, dtype: int64

ВАРИАНТ 2

In [7]:
data[data.budget == data.budget.max()].original_title

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

# 2. Какой из фильмов самый длительный (в минутах)?

In [8]:
answers['2'] = 'Gods and Generals (tt0279111)'
# +

In [9]:
data.groupby(['original_title'])['runtime'].max().sort_values(ascending=False).head(1)

original_title
Gods and Generals    214
Name: runtime, dtype: int64

ВАРИАНТ 2

In [10]:
data[data.runtime == data.runtime.max()].original_title

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [11]:
answers['3'] = 'Winnie the Pooh (tt1449283)'
# +

In [12]:
data.groupby(['original_title'])['runtime'].min().sort_values(ascending=True).head(1)

original_title
Winnie the Pooh    63
Name: runtime, dtype: int64

ВАРИАНТ 2

In [13]:
data[data.runtime == data.runtime.min()].original_title

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [14]:
answers['4'] = '110'
# +

In [15]:
round(data.runtime.mean())

110

# 5. Каково медианное значение длительности фильмов?

In [16]:
answers['5'] = '107'
# +

In [17]:
int(data.runtime.median())

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [18]:
answers['6'] = 'Avatar (tt0499549)'
# +

In [19]:
data[data['profit'] == data['profit'].max()].original_title

239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?

In [20]:
answers['7'] = 'The Lone Ranger (tt1210819)'
# +

In [21]:
data[data['profit'] == data['profit'].min()].original_title

1245    The Lone Ranger
Name: original_title, dtype: object

Вариант 2

In [22]:
data.groupby(['original_title'])['profit'].min().sort_values(ascending=True).head(1)

original_title
The Lone Ranger   -165710090
Name: profit, dtype: int64

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [23]:
answers['8'] = '1478'
# +

In [24]:
data[data['revenue'] > data['budget']].original_title.count()

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [25]:
answers['9'] = 'The Dark Knight (tt0468569)'
# +

In [26]:
data2008 = data[data.release_year == 2008]
data2008[data2008.revenue == data2008.revenue.max()].original_title

599    The Dark Knight
Name: original_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [27]:
answers['10'] = 'The Lone Ranger (tt1210819)'
# +

In [28]:
data12_14 = data[(data.release_year >= 2012)& 
                 (data.release_year <= 2014)]
data12_14[data12_14.profit == data12_14.profit.min()].original_title

1245    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?

In [29]:
answers['11'] = 'Drama'
# +

In [30]:
data['genres'].str.split('|').explode().value_counts()

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
Name: genres, dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [31]:
answers['12'] = 'Drama'
# +

In [32]:
data_prof = data[data.profit > 0]
data_prof['genres'].str.split('|').explode().value_counts()

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
Name: genres, dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [33]:
answers['13'] = 'Peter Jackson'
# +

In [34]:
data_13 = data[['director', 'revenue']].copy()
data_13['director'] = data_13.director.apply(lambda s: s.split('|'))
data_13N = data_13.explode('director')
data_13N.groupby(by = 'director').revenue.sum().sort_values(ascending = False).head(1)

director
Peter Jackson    6490593685
Name: revenue, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [35]:
answers['14'] = 'Robert Rodriguez'
# +

In [36]:
Action_14 = data[data.genres.str.contains("Action", na=False)]
director_14 = Action_14['director'].str.split('|',expand=True).stack().value_counts()
director_14

Robert Rodriguez      9
Paul W.S. Anderson    7
Michael Bay           7
Antoine Fuqua         6
Ridley Scott          6
                     ..
Hironobu Sakaguchi    1
Eric Brevig           1
Anne Fletcher         1
Boaz Yakin            1
Simon Wells           1
Length: 364, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [37]:
answers['15'] = 'Chris Hemsworth'
# +

In [38]:
data_15 = data[data.release_year == 2012][['cast', 'revenue']]
data_15['cast'] = data_15.cast.apply(lambda s: s.split('|'))
data_15N = data_15.explode('cast')
data_15N.groupby(by = 'cast').revenue.sum().sort_values(ascending = False)

cast
Chris Hemsworth      2027450773
Denis Leary          1629460639
Anne Hathaway        1522851057
Chris Evans          1519557910
Robert Downey Jr.    1519557910
                        ...
Jason Bateman           3428048
Danny Huston            2106557
Sami Gayle              2106557
Josh Lucas              2106557
Nicolas Cage            2106557
Name: revenue, Length: 466, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [39]:
answers['16'] = 'Chris Hemsworth'
# +

In [40]:
data_16 = data[data.budget > data.budget.mean()][['cast', 'original_title']]
data_16['cast'] = data_16.cast.apply(lambda s: s.split('|'))
data_16N = data_16.explode('cast')
data_16N.groupby(by = 'cast').original_title.count().sort_values(ascending = False)

cast
Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Eddie Murphy         15
Samuel L. Jackson    15
                     ..
Leslie Bibb           1
Leonard Nimoy         1
Lennie James          1
Lena Olin             1
50 Cent               1
Name: original_title, Length: 1505, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [41]:
answers['17'] = 'Action'
# +

In [42]:
data_17 = data[['cast', 'genres']].copy()
data_17_1 = data_17[data_17['cast'].str.contains ("Nicolas Cage", na=False)]
data_17_2 = data_17_1['genres'].str.split('|',expand=True).stack().value_counts()
data_17_2

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Family              3
Animation           3
Mystery             3
History             2
Horror              1
War                 1
Romance             1
dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [43]:
answers['18'] = 'K-19: The Widowmaker (tt0267626)'
# +

In [44]:
data_18 = data[['original_title', 'production_companies', 'profit']].copy()
data_18_1 = data_18[data_18['production_companies'].str.contains ("Paramount Pictures", na=False)]
data_18_1.groupby(by = 'original_title').profit.min().sort_values(ascending = True)

original_title
K-19: The Widowmaker                                  -64831034
Timeline                                              -60519261
Next                                                  -51788987
Alfie                                                 -46604061
Twisted                                               -24805000
                                                        ...
Mission: Impossible - Ghost Protocol                  549713380
Transformers                                          559709780
Indiana Jones and the Kingdom of the Crystal Skull    601636033
Transformers: Revenge of the Fallen                   686297228
Transformers: Dark of the Moon                        928746996
Name: profit, Length: 122, dtype: int64

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [45]:
answers['19'] = '2015'
# +

In [46]:
data_19 = data[['revenue', 'production_companies', 'release_year']].copy()
data_19.groupby(by = 'release_year').revenue.sum().sort_values(ascending = False)

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [47]:
answers['20'] = '2014'
# +

In [48]:
data_20 = data[['revenue', 'production_companies', 'release_year']].copy()
data_20_1 = data_20[data_20['production_companies'].str.contains("Warner Bros", na=False)]
data_20_1.groupby(by = 'release_year').revenue.sum().sort_values(ascending = False)

release_year
2014    3243064519
2007    3183675217
2008    3050595031
2010    3008712985
2011    2845393682
2003    2745493377
2009    2737954136
2004    2731933725
2013    2599953400
2005    2412980298
2001    2266545668
2012    1869520056
2002    1702709901
2015    1691168351
2006    1521170743
2000    1025531386
Name: revenue, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [49]:
answers['21'] = 'Сентябрь'
# +

In [50]:
import datetime
data_21 = data[['original_title', 'release_date']].copy()
data_21['release_date'] = pd.to_datetime(data_21['release_date'])
data_21['Month'] = data_21['release_date'].dt.month
data_21.groupby(by = 'Month').original_title.count().sort_values(ascending = False)

Month
9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: original_title, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [51]:
answers['22'] = '450'
# +

In [52]:
data_22 = data[['original_title', 'release_date']].copy()
data_22['release_date'] = pd.to_datetime(data_22['release_date'])
data_22['release_date'] = data_22['release_date'].dt.month
data_22 = data_22[(data_22.release_date >= 6) & (data_22.release_date <= 8)].original_title.count()
data_22

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [53]:
answers['23'] = 'Peter Jackson'
# +

In [54]:
data_23 = data[['original_title', 'director', 'release_date']].copy()
data_23['release_date'] = pd.to_datetime(data_23['release_date'])
data_23['release_date'] = data_23['release_date'].dt.month
data_23 = data_23[(data_23.release_date == 12) | (data_23.release_date == 1) | (data_23.release_date == 2)]
data_23['director'] = data_23.director.apply(lambda s: s.split('|'))
data_23N = data_23.explode('director')
data_23N.groupby(by = 'director').original_title.count().sort_values(ascending = False)

director
Peter Jackson            7
Steven Soderbergh        6
Clint Eastwood           6
Martin Scorsese          4
Adam Shankman            4
                        ..
Matt Bettinelli-Olpin    1
Matt Reeves              1
Matthew O'Callaghan      1
Matthew Vaughn           1
Jon Avnet                1
Name: original_title, Length: 358, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [55]:
answers['24'] = 'Four By Two Productions'
# +

In [56]:
data_24 = data[['original_title', 'production_companies']].copy()
data_24['production_companies'] = data_24.production_companies.apply(lambda s: s.split('|'))
data_24N = data_24.explode('production_companies')
data_24N['original_title'] = data_24N.original_title.apply(lambda x: len(str(x)))
data_24N.groupby(by = 'production_companies').original_title.mean().sort_values(ascending = False)

production_companies
Four By Two Productions       83.0
Jim Henson Company, The       59.0
Dos Corazones                 47.0
Museum Canada Productions     46.0
Polsky Films                  46.0
                              ...
Everest Entertainment          3.0
Berlanti Productions           3.0
XM2 Productions                2.0
Ixtlan Productions             2.0
Global Entertainment Group     2.0
Name: original_title, Length: 1771, dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [57]:
answers['25'] = 'Midnight Picture Show'
# +

In [58]:
data_25 = data[['overview', 'production_companies']].copy()
data_25['production_companies'] = data_25.production_companies.apply(lambda s: s.split('|'))
data_25N = data_25.explode('production_companies')
data_25N['overview'] = data_25N.overview.apply(lambda x: len(str(x).split(' ')))
data_25N.groupby(by = 'production_companies').overview.mean().sort_values(ascending = False)

production_companies
Midnight Picture Show                    175.0
Room 9 Entertainment                     161.0
Heineken Branded Entertainment           161.0
98 MPH Productions                       159.0
Brookwell-McNamara Entertainment         156.0
                                         ...
London Boulevard                          13.0
Phantom Four                              13.0
Henceforth                                13.0
Empire Pictures                           11.0
Motion Picture Corporation of America     11.0
Name: overview, Length: 1771, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [59]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'
# +

In [60]:
data_26 = data[['original_title', 'vote_average']].copy()
data_26[data_26['vote_average']>data_26.quantile(0.99, numeric_only=True)['vote_average']]

                                     original_title  vote_average
9                                        Inside Out           8.0
34                                             Room           8.0
118                                    Interstellar           8.0
119                         Guardians of the Galaxy           7.9
125                              The Imitation Game           8.0
128                                       Gone Girl           7.9
138                        The Grand Budapest Hotel           7.9
370                                       Inception           7.9
599                                 The Dark Knight           8.1
872                                     The Pianist           7.9
1081  The Lord of the Rings: The Return of the King           7.9
1183                        The Wolf of Wall Street           7.9
1191                               12 Years a Slave           7.9
1800                                        Memento           7.9

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [61]:
answers['27'] = 'Daniel Radcliffe & Rupert Grint'

In [62]:
from itertools import combinations
cast_27 = data.cast.str.split('|').tolist()
list_27 = []
for i in cast_27:
    for j in combinations(i, 2):
        list_27.append(' '.join(sorted(j)))
list_27 = pd.DataFrame(list_27)
list_27.columns = ['cast_N']
list_27.cast_N.value_counts().head(1)

Daniel Radcliffe Rupert Grint    8
Name: cast_N, dtype: int64

# Submission

In [63]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Chris Hemsworth',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': 'Сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint'}

In [64]:
# и убедиться что ни чего не пропустил)
len(answers)

27